In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/d3/b8/6798a0f91e595c0704a94c1e32a00ca930f77cb8f0f96c7e4dad4f9db1fe/mysql_connector_python-8.1.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.1.0-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     ---------------------------------------- 0.0/527.0 kB ? eta -:--:--
     ----------------- -------------------- 245.8/527.0 kB 5.0 MB/s eta 0:00:01
     ------------------------------- ------ 440.3/527.0 kB 4.6 MB/s eta 0:00:01
     -------------------------------------- 527.0/527.0 kB 4.7 MB/s eta 0:00:00
Downloading mysql_connector_python-8.1.0-cp311-cp311-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
    --------------------------------------- 0.2/10.8 MB 7.3 MB/s eta 0:00:02
   -- ------------------------------------- 0.5/10.8 MB 6.8 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/10.8 MB 7.0 MB/s eta 0:00:02
   ----- ---------------------------------- 1.4/10.8 MB 6.9 MB/s eta 0:00:02
   ------ --------------------------------- 1.8/10.8 MB 7.0 MB/s eta 0:00:02
   ------- -------------------------------- 2.1/10.8 MB 6.6 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/10.8 MB 6.6 MB/s eta 0:00:02
   --------- ------------------------------ 2.7/10.8 MB 6.9 MB/s eta 0:00:02
   ----------- ---------------------------- 3.1/10.8 MB 6.6 MB/s eta 0:00:02
   ------------ --------------------------- 3.5/10.8 MB 6.9 MB/s eta 0:00:02
   ------------- -------------------------- 3.8/10.8 MB 6.9 MB/s eta 0:00:02
   --------------- ------------------------ 4.1/10.8 MB 6.7 MB/s eta 0:00:01
   ---------------- ----------------------- 4.4/10.8 MB 6.7 MB/s eta 0:00:01
   ----------------- ---------------------- 4.7/10.8 MB 6.7 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/10.8 MB 6.6 MB/s eta 0:00:01
   ------------------- -------------------- 5.3/10.8 MB 6.8 MB/s eta 0:00:01
   -------------------- ------------------- 5.6/10.8 MB 6.7 MB/s eta 0:00:01
   --------------------- ------------------ 5.9/10.8 MB 6.7 MB/s eta 0:00:01
   ---------------------- ----------------- 6.2/10.8 MB 6.7 MB/s eta 0:00:01
   ------------------------ --------------- 6.5/10.8 MB 6.6 MB/s eta 0:00:01
   ------------------------- -------------- 6.8/10.8 MB 6.6 MB/s eta 0:00:01
   -------------------------- ------------- 7.1/10.8 MB 6.6 MB/s eta 0:00:01
   --------------------------- ------------ 7.4/10.8 MB 6.6 MB/s eta 0:00:01
   ---------------------------- ----------- 7.7/10.8 MB 6.6 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/10.8 MB 6.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.3/10.8 MB 6.5 MB/s eta 0:00:01
   ------------------------------- -------- 8.6/10.8 MB 6.5 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/10.8 MB 6.5 MB/s eta 0:00:01
   ---------------------------------- ----- 9.2/10.8 MB 6.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.5/10.8 MB 6.6 MB/s eta 0:00:01
   ------------------------------------ --- 9.9/10.8 MB 6.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/10.8 MB 6.6 MB/s eta 0:00:01
   -------------------------------------- - 10.5/10.8 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.8 MB 6.6 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.8 MB 6.6 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 6.3 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [2]:
!pip show mysql-connector-python

Name: mysql-connector-python
Version: 8.1.0
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: C:\Users\reyes\AppData\Local\Programs\Python\Python311\Lib\site-packages
Requires: protobuf
Required-by:

In [3]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/b7/f8/32d6b5aa4c4bc045fa2c4c58f88c325facc54721956c6313f0afea8ea853/pandas-2.1.0-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.1.0-cp311-cp311-win_amd64.whl.metadata (18 kB)
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/72/b2/02770e60c4e2f7e158d923ab0dea4e9f146a2dbf267fec6d8dc61d475689/numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\reyes\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ---------------------------------------- 0.0/502.3 kB ? eta -:--:--
     -------------------- ----------------- 276.5/502.3 kB 8.6 MB/s eta 0:00:01
     -------------------------------------  501.8/502.3 kB 6.3 MB/s eta 0:00:01
     -------------------------------------- 502.3/502.3 kB 5.2 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ------------------------------------  337.9/341.8 kB 10.2 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 7.1 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\reyes\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.0-cp311-cp311-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.2/11.0 MB 7.6 MB/s eta 0:00:02
   -- ------------------------------------- 0.6/11.0 MB 7.0 MB/s eta 0:00:02
   --- ------------------------------------ 0.9/11.0 MB 7.0 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/11.0 MB 6.9 MB/s eta 0:00:02
   ----- ---------------------------------- 1.5/11.0 MB 6.9 MB/s eta 0:00:02
   ------ --------------------------------- 1.8/11.0 MB 6.9 MB/s eta 0:00:02
   ------- -------------------------------- 2.2/11.0 MB 6.9 MB/s eta 0:00:02
   -------- ------------------------------- 2.5/11.0 MB 6.8 MB/s eta 0:00:02
   ---------- ----------------------------- 2.8/11.0 MB 6.9 MB/s eta 0:00:02
   ----------- ---------------------------- 3.1/11.0 MB 6.7 MB/s eta 0:00:02
   ------------ --------------------------- 3.4/11.0 MB 6.6 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/11.0 MB 6.8 MB/s eta 0:00:02
   -------------- ------------------------- 4.0/11.0 MB 6.8 MB/s eta 0:00:02
   --------------- ------------------------ 4.3/11.0 MB 6.8 MB/s eta 0:00:01
   ---------------- ----------------------- 4.7/11.0 MB 6.8 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/11.0 MB 6.8 MB/s eta 0:00:01
   ------------------- -------------------- 5.3/11.0 MB 6.7 MB/s eta 0:00:01
   -------------------- ------------------- 5.6/11.0 MB 6.7 MB/s eta 0:00:01
   ----------------------- ---------------- 6.5/11.0 MB 6.6 MB/s eta 0:00:01
   ------------------------- -------------- 7.0/11.0 MB 6.6 MB/s eta 0:00:01
   -------------------------- ------------- 7.3/11.0 MB 6.6 MB/s eta 0:00:01
   --------------------------- ------------ 7.7/11.0 MB 6.6 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/11.0 MB 6.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/11.0 MB 6.6 MB/s eta 0:00:01
   ------------------------------- -------- 8.6/11.0 MB 6.6 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.0 MB 6.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 6.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.6/11.0 MB 6.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.9/11.0 MB 6.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.3/11.0 MB 6.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.0 MB 6.6 MB/s eta 0:00:01
   ---------------------------------------  10.8/11.0 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 6.1 MB/s eta 0:00:00
Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
    --------------------------------------- 0.3/15.5 MB 9.6 MB/s eta 0:00:02
   - -------------------------------------- 0.6/15.5 MB 7.4 MB/s eta 0:00:03
   -- ------------------------------------- 0.8/15.5 MB 5.9 MB/s eta 0:00:03
   -- ------------------------------------- 1.1/15.5 MB 6.6 MB/s eta 0:00:03
   --- ------------------------------------ 1.5/15.5 MB 6.8 MB/s eta 0:00:03
   ---- ----------------------------------- 1.9/15.5 MB 6.6 MB/s eta 0:00:03
   ----- ---------------------------------- 2.2/15.5 MB 6.5 MB/s eta 0:00:03
   ------ --------------------------------- 2.5/15.5 MB 6.6 MB/s eta 0:00:02
   ------- -------------------------------- 2.7/15.5 MB 6.5 MB/s eta 0:00:02
   ------- -------------------------------- 3.1/15.5 MB 6.7 MB/s eta 0:00:02
   -------- ------------------------------- 3.3/15.5 MB 6.5 MB/s eta 0:00:02
   --------- ------------------------------ 3.7/15.5 MB 6.6 MB/s eta 0:00:02
   ---------- ----------------------------- 4.0/15.5 MB 6.6 MB/s eta 0:00:02
   ----------- ---------------------------- 4.4/15.5 MB 6.6 MB/s eta 0:00:02
   ----------- ---------------------------- 4.6/15.5 MB 6.6 MB/s eta 0:00:02
   ------------ --------------------------- 5.0/15.5 MB 6.6 MB/s eta 0:00:02
   ------------- -------------------------- 5.3/15.5 MB 6.7 MB/s eta 0:00:02
   -------------- ------------------------- 5.7/15.5 MB 6.7 MB/s eta 0:00:02
   --------------- ------------------------ 6.0/15.5 MB 6.6 MB/s eta 0:00:02
   ---------------- ----------------------- 6.3/15.5 MB 6.7 MB/s eta 0:00:02
   ----------------- ---------------------- 6.6/15.5 MB 6.7 MB/s eta 0:00:02
   ----------------- ---------------------- 6.9/15.5 MB 6.6 MB/s eta 0:00:02
   ------------------ --------------------- 7.3/15.5 MB 6.7 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.5 MB 6.7 MB/s eta 0:00:02
   -------------------- ------------------- 8.0/15.5 MB 6.8 MB/s eta 0:00:02
   --------------------- ------------------ 8.2/15.5 MB 6.7 MB/s eta 0:00:02
   --------------------- ------------------ 8.5/15.5 MB 6.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.9/15.5 MB 6.7 MB/s eta 0:00:02
   ----------------------- ---------------- 9.2/15.5 MB 6.7 MB/s eta 0:00:01
   ------------------------ --------------- 9.5/15.5 MB 6.7 MB/s eta 0:00:01
   ------------------------- -------------- 9.8/15.5 MB 6.7 MB/s eta 0:00:01
   -------------------------- ------------- 10.2/15.5 MB 6.7 MB/s eta 0:00:01
   -------------------------- ------------- 10.4/15.5 MB 6.6 MB/s eta 0:00:01
   --------------------------- ------------ 10.8/15.5 MB 6.7 MB/s eta 0:00:01
   ---------------------------- ----------- 11.1/15.5 MB 6.7 MB/s eta 0:00:01
   ----------------------------- ---------- 11.4/15.5 MB 6.7 MB/s eta 0:00:01
   ------------------------------ --------- 11.7/15.5 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 12.0/15.5 MB 6.7 MB/s eta 0:00:01
   ------------------------------- -------- 12.2/15.5 MB 6.6 MB/s eta 0:00:01
   -------------------------------- ------- 12.6/15.5 MB 6.5 MB/s eta 0:00:01
   --------------------------------- ------ 12.9/15.5 MB 6.6 MB/s eta 0:00:01
   ---------------------------------- ----- 13.3/15.5 MB 6.6 MB/s eta 0:00:01
   ---------------------------------- ----- 13.5/15.5 MB 6.6 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.5 MB 6.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.5 MB 6.5 MB/s eta 0:00:01
   ------------------------------------ --- 14.3/15.5 MB 6.5 MB/s eta 0:00:01
   ------------------------------------- -- 14.6/15.5 MB 6.5 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.5 MB 6.5 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 5.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.1.0 pytz-2023.3 tzdata-2023.3

In [4]:
#Import libraries
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [12]:
import mysql.connector
from mysql.connector import Error

# Connecting to MySQL Server
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

# MySQL terminal password
pw = "password123"

# Database name
db = "dummy_db"
connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

In [13]:
#Create dummy_db
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")
create_database_query = "Create database dummy_db"
create_database(connection, create_database_query)

Error: '1007 (HY000): Can't create database 'dummy_db'; database exists'

In [14]:
#Connect to Database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [15]:
#Execute SQL Queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [25]:
#Create books table from dummy database
create_books_table = """
CREATE TABLE Books(
    BookID int primary key NOT NULL,
    BookName varchar(50) NULL,
    Category varchar(50) NULL,
    Price numeric(18, 2) NULL,
    Price_Range varchar(20) NULL
)
 """

# Connect to the Database
connection = create_db_connection("localhost", "root", pw, db) 
execute_query(connection, create_books_table)

MySQL Database connection successful
Query successful

In [28]:
#Insert data to table
insert_books = """
INSERT INTO Books
    (BookID, BookName, Category, Price, Price_Range)
VALUES	
    ('1', 'Computer Architecture', 'Computers', 125.6, '100-150'),
    ('2', 'Advanced Composite Materials', 'Science', 172.56, '150-200'),
    ('3', 'Asp.Net 4 Blue Book', 'Programming', 56.00, '50-100'),
    ('4', 'Strategies Unplugged', 'Science', 99.99, '50-100'),
    ('5', 'Teaching Science', 'Science', 164.10, '150-200'),
    ('6', 'Challenging Times', 'Business', 150.70, '150-200'),
    ('7', 'Circuit Bending', 'Science', 112.00, '100-150'),
    ('8', 'Popular Science', 'Science', 210.40, '200-250'),
    ('9', 'ADOBE Premiere', 'Computers', 62.20, '50-100')
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, insert_books)

MySQL Database connection successful
Query successful

In [29]:
#Reading data
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [53]:
#Using SELECT statement to display data
q1 = """
SELECT * 
FROM books;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)
for result in results:
    print(result)

MySQL Database connection successful
(1, 'Computer Architecture', 'Computers', Decimal('125.60'), '100-150')
(2, 'Advanced Composite Materials', 'Science', Decimal('172.56'), '150-200')
(3, 'Asp.Net 4 Blue Book', 'Programming', Decimal('56.00'), '50-100')
(4, 'Strategies Unplugged', 'Science', Decimal('99.99'), '50-100')
(5, 'Teaching Science', 'Science', Decimal('164.10'), '150-200')
(6, 'Challenging Times', 'Business', Decimal('150.70'), '150-200')
(7, 'Circuit Bending', 'Science', Decimal('112.00'), '100-150')
(8, 'Popular Science', 'Science', Decimal('210.40'), '200-250')
(9, 'ADOBE Premiere', 'Computers', Decimal('62.20'), '50-100')

In [35]:
#Getting only the BookName and the Price
q2 = """
SELECT BookName, Price 
FROM books;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q2)
for result in results:
    print(result)

MySQL Database connection successful
('Computer Architecture', Decimal('125.60'))
('Advanced Composite Materials', Decimal('172.56'))
('Asp.Net 4 Blue Book', Decimal('56.00'))
('Strategies Unplugged', Decimal('99.99'))
('Teaching Science', Decimal('164.10'))
('Challenging Times', Decimal('150.70'))
('Circuit Bending', Decimal('112.00'))
('Popular Science', Decimal('210.40'))
('ADOBE Premiere', Decimal('62.20'))

In [36]:
#Getting all the distinct book Category
q3 = """
SELECT distinct Category 
FROM books;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q3)
for result in results:
    print(result)

MySQL Database connection successful
('Computers',)
('Science',)
('Programming',)
('Business',)

In [37]:
#Getting the data in which the Price is greater than 150
q4 = """
SELECT * 
FROM books
WHERE Price > 150;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q4)
for result in results:
    print(result)

MySQL Database connection successful
(2, 'Advanced Composite Materials', 'Science', Decimal('172.56'), '150-200')
(5, 'Teaching Science', 'Science', Decimal('164.10'), '150-200')
(6, 'Challenging Times', 'Business', Decimal('150.70'), '150-200')
(8, 'Popular Science', 'Science', Decimal('210.40'), '200-250')

In [40]:
#Getting the BookID and BookName in which the Price is less than 150
q5 = """
SELECT BookID, BookName 
FROM books
WHERE Price < 150;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q5)
for result in results:
    print(result)

MySQL Database connection successful
(1, 'Computer Architecture')
(3, 'Asp.Net 4 Blue Book')
(4, 'Strategies Unplugged')
(7, 'Circuit Bending')
(9, 'ADOBE Premiere')

In [42]:
#Arrange the BookID, BookName, and Price in ascending order based from the Price
q6 = """
SELECT BookID, BookName, Price 
FROM books
ORDER BY Price;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q6)
for result in results:
    print(result)

MySQL Database connection successful
(3, 'Asp.Net 4 Blue Book', Decimal('56.00'))
(9, 'ADOBE Premiere', Decimal('62.20'))
(4, 'Strategies Unplugged', Decimal('99.99'))
(7, 'Circuit Bending', Decimal('112.00'))
(1, 'Computer Architecture', Decimal('125.60'))
(6, 'Challenging Times', Decimal('150.70'))
(5, 'Teaching Science', Decimal('164.10'))
(2, 'Advanced Composite Materials', Decimal('172.56'))
(8, 'Popular Science', Decimal('210.40'))

In [59]:
#Using SELECT statement to display data
q7 = """
SELECT * 
FROM books;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q7)
for result in results:
    print(result)

MySQL Database connection successful
(1, 'Computer Architecture', 'Computers', Decimal('143.00'), '100-150')
(2, 'Advanced Composite Materials', 'Science', Decimal('172.56'), '150-200')
(3, 'Asp.Net 4 Blue Book', 'Programming', Decimal('56.00'), '50-100')
(4, 'Strategies Unplugged', 'Science', Decimal('99.99'), '50-100')
(5, 'Teaching Science', 'Science', Decimal('164.10'), '150-200')
(6, 'Challenging Times', 'Business', Decimal('150.70'), '150-200')
(7, 'Circuit Bending', 'Science', Decimal('112.00'), '100-150')
(8, 'Popular Science', 'Science', Decimal('210.40'), '200-250')
(9, 'ADOBE Premiere', 'Computers', Decimal('62.20'), '50-100')

In [60]:
# Returns a list of lists and then creates a pandas DataFrame
from_db = []

for result in results:
  result = list(result)
  from_db.append(result)


columns = ["BookID", "BookName", "Category", "Price", "Price_Range"]
df = pd.DataFrame(from_db, columns=columns)

display(df)

   BookID                      BookName     Category   Price Price_Range
0       1         Computer Architecture    Computers  143.00     100-150
1       2  Advanced Composite Materials      Science  172.56     150-200
2       3           Asp.Net 4 Blue Book  Programming   56.00      50-100
3       4          Strategies Unplugged      Science   99.99      50-100
4       5              Teaching Science      Science  164.10     150-200
5       6             Challenging Times     Business  150.70     150-200
6       7               Circuit Bending      Science  112.00     100-150
7       8               Popular Science      Science  210.40     200-250
8       9                ADOBE Premiere    Computers   62.20      50-100

In [61]:
#Using Update command
update = """
UPDATE books
SET Price = '143.00' 
WHERE BookID = 1;
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, update)

MySQL Database connection successful
Query successful

In [62]:
#Check the updated data
q8 = """
SELECT * 
FROM books
WHERE BookID = 1;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q8)
for result in results:
    print(result)

MySQL Database connection successful
(1, 'Computer Architecture', 'Computers', Decimal('143.00'), '100-150')

In [63]:
#Using the DELETE command
delete_book = """
DELETE FROM books 
WHERE BookID = 8;
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, delete_book)

MySQL Database connection successful
Query successful

In [64]:
#Check if the BookID 8 was deleted
q9 = """
SELECT * 
FROM books
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q9)
for result in results:
    print(result)

MySQL Database connection successful
(1, 'Computer Architecture', 'Computers', Decimal('143.00'), '100-150')
(2, 'Advanced Composite Materials', 'Science', Decimal('172.56'), '150-200')
(3, 'Asp.Net 4 Blue Book', 'Programming', Decimal('56.00'), '50-100')
(4, 'Strategies Unplugged', 'Science', Decimal('99.99'), '50-100')
(5, 'Teaching Science', 'Science', Decimal('164.10'), '150-200')
(6, 'Challenging Times', 'Business', Decimal('150.70'), '150-200')
(7, 'Circuit Bending', 'Science', Decimal('112.00'), '100-150')
(9, 'ADOBE Premiere', 'Computers', Decimal('62.20'), '50-100')